<div class="main" fxLayout="column">
  <app-header-view 
    [title]="title">
  </app-header-view>
  <div fxLayout="row">
    <app-slide-view 
      [sectionInfos]="sectionInfos" 
      [index]="index" 
      fxFlex 
      fxLayoutAlign="center center">
    </app-slide-view>
    <app-section-list-view 
      fxFlex="30%" 
      [sectionInfos]="sectionInfos"
      (event)="onReceiveEventFromChild($event)">
    </app-section-list-view>
  </div>
  <app-details-view 
    [sectionInfos]="sectionInfos" 
    [index]="index">
  </app-details-view>
  <app-footer-view>
  </app-footer-view>
</div>