    <div class="list-group" style="position: absolute; top: 50px; width: 30%;height:70vh">
        <div *ngFor="let sectionInfo of sectionInfos; let i = index;">
            <a href="#" class="list-group-item list-group-item-action" (click)="outIndex(i)">
                セクション名：{{sectionInfo?.name}}<br />
                <small>担当者名： {{sectionInfo?.presenter}}</small> <br />
                <small> {{sectionInfo?.startTime}}/{{sectionInfo?.endTime}}</small>
            </a>
        </div>
    </div>
