<mat-tab-group mat-align-tabs="start">
  <mat-tab label="概要">
    <h2>Java構文</h2>
	<p>Javaを使ったプログラムを記述する上で必要となるJavaの構文を1つ1つ確認していきます。</p>
    <div>
    	<ul>
			<li>Javaの基本事項</li>
			<li>スクリプトの記述</li>
			<li>スクリプトが実行されるタイミング</li>
			<li>分散して記述されたスクリプトの扱い</li>
			<li>Javaのデータ型</li>
			<li>文字列</li>
			<li>特殊な文字の入力(エスケープシーケンス)</li>
			<li>数値</li>
			<li>変数</li>
			<li>変数の使い方</li>
			<li>変数の宣言</li>
			<li>変数名のつけ方(識別子)</li>
			<li>演算子</li>
			<li>式とは</li>
			<li>算術演算子</li>
			<li>単項マイナス演算子</li>
		</ul>
	</div>
  </mat-tab>
  <mat-tab label="感想">
	いらないかもしれない。
  </mat-tab>
</mat-tab-group>